.navbar{
    display: flex;
    justify-content: space-between;
    color: #1482ab;
    // background-color: rgb(73, 166, 73);
    background-color:#d1f6fc;

    height: calc(12vh);
    -webkit-box-shadow: 0 8px 6px -6px rgb(162, 202, 233);
    // -moz-box-shadow: 0 8px 6px -6px black;
    //      box-shadow: 0 8px 6px -6px black;

    .navbar-brand{
        // #sflLogo{
        //     height: calc(3vw);
        //     padding-left: 10px;
        //     width: calc(17vw);
        // }
        img{
            height: calc(4vw);
            padding-left: 10px;
            width: calc(6vw);
        }
        p{
            font-size: 11px;
            margin-top: 10px;
            font-weight: bold;
        }
    }
    .head-title{
        font-size: calc(2.3vw);
        font-weight: 700;
    }
}